.section-title-block {
  text-align: center;
  position: relative;
  padding: 40px 68px 10px 68px;
  overflow: hidden;
  border-bottom: 1px solid #d8d8d8;
  line-height: 20px;
  h2 {
    font-weight: normal;
    font-size: 28px;
    line-height: 1em;
    color: #000;
    margin: 0;
  }
  p {
    text-align: center;
    max-width: 45%;
    color: #000;
    font-weight: 500;
    margin: 28px auto 0;
    font-size: 14px;
    line-height: 18px;
  }
}
.main__catalog {
  &__sort {
    padding: 20px 15px;
    &-menu {
      display: flex;
      justify-content: end;
    }
  }
  &__products {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
  }
}
.catalog {
  &__filter {
    padding: 20px 5px 5px 20px;
    border-top: 1px solid #d8d8d8;
    max-width: 275px;
    h2 {
      font-weight: 500;
      font-size: 28px;
      line-height: 22px;
      color: #000;
      text-align: left;
      margin: 0 0 16px;
    }
    &-item {
      padding-bottom: 10px;
    }
  }
  &__btn {
    background: none;
    color: black;
    min-width: 100px;
    padding: 10px;
    text-align: left;
    transition: 0.27s linear;
    &:hover {
      color: #aea444;
      scale: 1.08;
    }
  }
  &__items {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(8, 1fr);
    // grid-column-gap: 10px;
    // grid-row-gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }
}
.catalogItem {
  margin-bottom: 15px;
  margin-right: 15px;
}
.mobile__btn {
  background: none;
}
.catalog__btn-active {
  color: #887e1f;
  scale: 1.08;
  font-weight: 800;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 100px 15px 50px 15px;
  position: relative;

  // // opacity: 0;
  // // animation: ani 3.5s forwards;

  // @keyframes ani {
  //   0% {
  //     opacity: 0;
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 1300px;
    bottom: 18px;
    left: 70px;
    background-color: #d9d9d9;
  }
  &__filter {
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      column-gap: 50px;
    }
    &-item {
      display: flex;
      align-items: center;
      transition: 0.3s linear;
      &:hover {
        color: #aea444;
      }
    }
  }
  &__btn {
    background-color: #f0efef;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #d9d9d9;
  }
  &__cart {
    padding-right: 30px;
    b {
      color: red;
    }
  }
}
.cart__btn {
  width: 52px;
  height: 52px;
}
.catalogItem {
  text-align: center;
  box-shadow: 1px 7px 9px #b5b3b3;
  border-radius: 23px;
  transition: 0.27s linear;
  max-width: 240px;
  max-height: 450px;
  &:hover {
    scale: 1.01;
    box-shadow: 1px 7px 9px #aea444;
  }
  img {
    max-width: 240px;
    max-height: 325px;
    padding: 5px;
    border-radius: 23px 23px 0 0;
  }

  p {
    font-size: 12px;
    text-align: left;
    text-transform: lowercase;
    margin: 0 5px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    transition: 0.5s linear;
  }
  button {
    transition: 0.3s linear;
    background: none;
    span {
      svg {
        width: 26px;
        height: 26px;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
  &__title {
    border-radius: 0 0 5px 5px;
    margin: 0 5px;
    h5 {
      font-size: 12px;
      text-transform: uppercase;
      line-height: 13px;
      font-weight: 500;
      color: #000;
      margin: 0 0 4px;
      padding: 5px;
      text-align: left;
      white-space: wrap;
      overflow: hidden;
    }
    background: #aea444; /* Цвет фона */
  }
}
/* Медиа отдельно для католога */
@media screen and (max-width: 8050px) {
  .filter__mobile {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .filter__mobile {
    display: none;
    button {
      background: none;
      padding-left: 30px;
      padding-top: 30px;
    }
  }
  .catalog__filter {
    h2 {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1135px) {
  .section-title-block {
    p {
      min-width: 100%;
    }
  }
}
@media screen and (max-width: 1000px) {
  .catalog__items {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .section-title-block {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
  .footer__about {
    &-title {
      font-size: 14px;
    }
    &-text {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .catalog__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ant-drawer-wrapper-body {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .filter__mobile {
    display: block;
  }
  .catalog__filter {
    display: none;
  }
  .section-title-block {
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 8px;
    }
  }
  .footer__about {
    &-title {
      font-size: 12px;
    }
    &-text {
      font-size: 4px;
    }
  }
}
