.modalCart {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: -2.9px 5px 11px #b5b3b3;
  &__wrapper {
  }
  &__btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    margin-right: 10px;
    margin-top: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-color: #d9d9d9;
      height: 2px;
      width: 100%;
      bottom: -23px;
    }
    button {
      color: #fff;
      background-color: black;
      width: 150px;
      height: 40px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__items {
    margin-top: 100px;
    padding: 10px 15px 10px 15px;
  }
  &__item {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 0.2fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    align-items: center;
    button {
      background: none;
    }
  }
}
.total {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #d9d9d9;
    top: -8px;
  }
  button {
    color: #fff;
    background-color: black;
    width: 150px;
    height: 40px;
  }
  &__items,
  &__price {
    text-align: center;
    p {
      font-size: 14px;
    }
  }
}
.modalAside {
  position: absolute;
  top: 125px;
  width: 40%;
  background-color: #fff;
  min-height: 50vh;
  min-width: 1440px;
  box-shadow: 15.1px 12px 8px #b5b3b3;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.categories {
  h2 {
    font-size: 16px;
    padding: 20px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  li {
    padding: 3px;
  }
}
