.modalCart {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: -2.9px 5px 11px #b5b3b3;
  &__wrapper {
  }
  &__btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    margin-top: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-color: #d9d9d9;
      height: 2px;
      width: 100%;
      bottom: -23px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
    }
    button {
      color: #fff;
      background-color: black;
      width: 150px;
      height: 40px;
    }
  }
  &__items {
    margin-top: 100px;
    padding: 10px 15px 10px 15px;
  }
  &__item {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 0.2fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    align-items: center;
    button {
      background: none;
    }
  }
}
