.modalCart {
  &__btn {
    color: #fff;
    background-color: black;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    transition: 0.27s linear;
    &:hover {
      color: black;
      background-color: #aea444;
      scale: 1.05;
    }

    h2 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__items {
    margin-top: 100px;
    padding: 10px 15px 10px 15px;
  }
  &__item {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 0.2fr repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    align-items: center;
    button {
      background: none;
    }
  }
}
.modalCartHide {
  display: none;
}
.total {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #d9d9d9;
    top: -8px;
  }

  &__items,
  &__price {
    text-align: center;
    p {
      font-size: 14px;
    }
  }
}

/* Стили для меню бургер */
.categories {
  text-align: center;
  h2 {
    font-size: 16px;
    padding: 20px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  li {
    a {
      color: black;
      &:hover {
        color: #aea444;
      }
    }
    padding: 3px;
  }
}
.ant-drawer-wrapper-body {
  background-color: #e1e1e1;
}
.BurgerWindow {
  &__img {
    padding-top: 15px;
    img {
      box-shadow: -2px 2px 8px rgb(66, 66, 66);
      &:hover {
        box-shadow: -6px 6px 11px #aea444;
      }
    }
  }
}
