@import './_reset.scss';

.wrapper {
  position: relative;
  background-color: #f5f5f5;
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  padding: 2.8571428571rem 0;
  z-index: 2;
  position: absolute;
  top: 0;
}
.welcome {
  position: absolute;
  top: 0;
}

.swiper-pagination {
  bottom: 60px;
  width: 200px;
  span {
    width: 14px;
    height: 14px;
    border-radius: 25px;
    margin-right: 5px;
    background-color: #fff;
  }
}
.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}
