.wrapper {
  position: relative;
}
.welcome {
  background-image: url(../public/content/slider/1.png);
  background-size: cover;

  position: absolute;

  top: 0;
  width: 100%;
  max-width: 1440px;
  min-height: 700px;
}
.header {
  padding: 2.8571428571rem 0;
  z-index: 1;
  position: absolute;
  top: 0;
}
