@media screen and (max-width: 1410px) {
  .header__inner {
    margin-left: 0px;
    a:nth-child(even) {
      display: none;
    }
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
  }
  .bar {
    &::after {
      width: 1000px;
    }
  }
  .main__desc {
    &-text,
    &-btn {
      display: none;
    }
  }
}
@media screen and (max-width: 1135px) {
  .nav {
    display: flex;
    justify-content: space-evenly;
  }
  .swiper-slide {
    img {
      width: 100%;
    }
  }
  .header {
    &__logo {
      span {
        display: none;
      }
      img {
        margin-left: 25px;
      }
    }
    &__buttons {
      padding-right: 0px;
    }
  }

  .bar {
    &::after {
      width: 700px;
    }
  }
  .mouse {
    left: 550px;
  }

  .main__desc {
    p {
      display: none;
    }
    &-btn {
      display: none;
    }
    &-title {
      font-size: 28px;
      font-weight: 400;
    }
  }
  .modalAside {
    &__img {
      display: none;
    }
  }
  .footer {
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__menu {
      padding: 20px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 885px) {
  .header__logo {
    span {
      display: block;
    }
  }
  .nav {
    padding: 0 40px;
  }
  .bar {
    &::after {
      width: 600px;
    }
  }
  .mouse {
    left: 450px;
  }
  .header__inner {
    display: none;
  }
  .main__desc-title {
    display: none;
  }
  .warning {
    p {
      width: 200px;
    }
  }
  .order {
    &__list {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      column-gap: 20px;

      img {
        width: 100%;
        border-radius: 20px;
        box-shadow: 1px 7px 9px #b5b3b3;
      }
    }
    &__item {
      margin: 0 auto;
      padding-bottom: 20px;
    }
  }

  .category__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 10px;
    &-big {
      margin: 0 auto;
      width: 53%;
    }
    img {
      margin: 0 auto;
      padding: 2px;
      border-radius: 20px;
      box-shadow: 1px 7px 9px #b5b3b3;
    }
    &-litle {
      display: flex;
      flex-direction: column;
      img {
        width: 53%;
      }
    }
  }

  .bar {
    flex-direction: column;
    &__filter-item {
      font-size: 14px;
    }
    &__sort {
      padding: 20px;
    }
  }

  .modalCart {
    width: 70%;
    top: -47%;
  }
  .footer {
    &__about {
      width: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    &__buttons {
      &-auth,
      &-favorite {
        display: none;
      }
    }
  }

  .bar {
    &::after {
      width: 300px;
    }
  }
  .mouse {
    left: 300px;
  }

  .bar {
    &__filter-item {
      font-size: 10px;
    }
  }
}
