@import './_reset.scss';

/* Стили для страниц */
@import './pages/catalog.scss';
@import './pages/modalCart.scss';

/* Стили для хедера */
.wrapper {
  position: relative;
  background-color: #f5f5f5;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  background-color: #f5f5f5;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 2.3rem 0;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;

  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    &-title {
      font-size: 22px;
      color: #fff;
      padding-left: 8px;
    }
    &-desc {
      font-size: 16px;
      color: #fff;
      padding-left: 8px;
    }
  }

  &__inner {
    margin-left: 145px;
    display: flex;
    column-gap: 49px;
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-transform: uppercase;
      transition: 0.27s linear;
      &:hover {
        color: #aea444;
        scale: 1.08;
      }
    }
    a:nth-child(2) {
      color: red;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    &-auth,
    &-favorite {
      background: none;
      border: 1px solid #d9d9d9;
      border-radius: 50px;
      height: 54px;
      width: 54px;
    }
    &-cart {
      background: none;
      border: 1px solid #d9d9d9;
      border-radius: 50px;
      height: 54px;
      width: 54px;
    }
  }
}
.header__catalog {
  padding: 2.3rem 0;
  width: 100%;
  position: relative;
}
.title-dark,
.desc-dark {
  color: black;
}
.inner-dark {
  a {
    color: black;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}
.welcome {
  position: absolute;
  top: 0;
}
/* Стили для слайдера */
.swiper-pagination {
  bottom: 60px;
  width: 200px;
  span {
    width: 14px;
    height: 14px;
    border-radius: 25px;
    margin-right: 5px;
    background-color: #fff;
  }
}
.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
}
/* Стили для заглавного текста */
.main__desc {
  position: absolute;
  top: 120%;
  left: 18%;
  z-index: 1;
  width: 70%;
  text-align: center;
  &-title {
    color: #fff;
    font-size: 60px;
    font-weight: 200;
    line-height: 75px;
    pointer-events: none;
    position: relative;
  }
  &-text {
    position: absolute;
    top: 90;
    left: 21%;
    color: #fff;
    font-weight: 200;
    font-size: 60px;
    line-height: 75px;
    width: 600px;
    text-transform: uppercase;
    pointer-events: none;
  }
  a {
    color: #fff;
    font-weight: 600;
    transition: 0.3s linear;
    &:hover {
      color: #aea444;
    }
  }
  &-btn {
    position: absolute;
    top: 255px;
    left: 424px;
    width: 200px;
    height: 75px;
    border: 1px solid #fff;
    background: none;
  }
  &-ring {
    position: absolute;
    background: none;
    right: 11%;
    top: 300px;
  }
}
/* Стили для предупреждения, который находится после слайдера */
.warning {
  padding-top: 112px;
  &-text {
    font-size: 12px;
    width: 750px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #d9d9d9;
  }
}
.order {
  margin-top: 30px;
  &-title {
    color: black;
    padding-top: 35px;
    text-align: center;
    padding-bottom: 30px;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 0px;
    img {
      display: inline-block;
      object-fit: cover;
      vertical-align: top;
      width: 100%;
    }
  }
}
.category__list {
  display: flex;
  padding: 5px;
  &-big {
    img {
      min-height: 100%;
      max-width: 100%;
    }
  }
  &-litle {
    padding-left: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
/* Стили для футера */

.footer {
  margin-top: 60px;
  padding: 15px;
  &__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__about {
    padding: 10px;
    width: 650px;
    padding-top: 15px;
    border: 2px solid #d9d9d9;
    &-title {
      padding-bottom: 20px;
    }
  }
  &__about-text {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  &__item {
    padding-bottom: 10px;
    a {
      color: black;
      transition: 0.3s linear;
      &:hover {
        color: #aea444;
      }
    }
  }
  &__social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 15px;
    justify-content: space-between;
  }
  &__social-link {
    color: black;
    display: flex;
    justify-content: space-between;
    width: 120px;
    align-items: center;
    transition: 0.3s linear;
    &:hover {
      color: #aea444;
    }
  }
}
.mouse {
  position: absolute;
  top: 580px;
  left: 750px;
  z-index: 5;
  animation: animate 1s infinite linear;
  animation-direction: reverse;
}

@keyframes animate {
  from {
    top: 580px;
  }
  to {
    top: 590px;
  }
}
.mouse-hide {
  display: none;
}

.header-enter {
  opacity: 0;
  transform: scale(1.8);
}
.header-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 600ms;
}
.header-exit {
  opacity: 1;
  transform: scale(1);
}

.header-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
@import './media.scss';
